 *{
    margin:0px;
    padding:0px;

} 
.mainbox{
    
    background-color: #544242;
}
.box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 90vh;
    width:80%;
    display:flex;
    background-color: #fffdfd;
}
.form {
    background-color:#ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  
}
.form>h1{
    margin-bottom: 20px;
    margin-right: 30px;
}
.gender{
    display: flex;
    margin-left: 10px;
}
input{
   margin: 10px;
   padding: 10px;
}

#country-state, #state-city{
    margin: 10px;
    padding: 10px;
}
.long-text {
    width: 371px;
}
.reset-submit >button, .reset-submit>input {
    background-color: rgb(243, 181, 48);
    padding:3px 20px;
    margin-top: 30px;
}
.reset-submit{
    margin-left: 142px;
}
.reset-submit>button{
    border-radius: 5px;
    color: white;
}
.reset-submit>input{
    margin-right: 50px;
    border: 2px;
    background-color: #f9f9f9;
    
}